/* Reset styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom properties */

:root {
    /* Fonts */
    --font-size-xl: 24px;
    --font-size-lg: 18px;
    --font-size-md: 15px;
    --font-size-sm: 12px;
    /* Colors */
    --color-main-purple:#635FC7;
    --color-medium-gray:#828FA3;
    --color-light-gray: #F4F7FD;
    --color-white: #FFFFFF;
    --color-black: #000112;
    /* Margin */
    --margin-lg: 2rem;
    --margin-md: 1.5rem;
    --margin-sm: 1rem;
    /* Padding */
    --padding-lg: 2rem;
    --padding-md: 1.5rem;
    --padding-sm: 1.25rem;
    /* Gaps */
    --gap-xl: 1.5rem;
    --gap-lg: 1.25rem;
    --gap-md: 1rem;
    --gap-sm: 0.75rem;
}

/* == Body == */

body {
    display: flex;
    font-family: "Plus Jakarta Sans",sans-serif;
    color: var(--color-black);
    min-height: 85vh;
}

/* == Navigation Sidebar == */

#nav-bar {
    border-right: 1px solid var(--color-light-gray);
}

#kanban-logo {
    max-width: 150px;
    height: auto;
    margin:var(--margin-lg);
}

#number-boards,
.column-title {
    font-size: var(--font-size-sm);
    font-weight: bold;
    color: var(--color-medium-gray);
    letter-spacing: 2.4px;
}

#number-boards {
    margin: 0 var(--margin-lg) var(--margin-sm) var(--margin-lg);
}

#launch-button {
    width: clamp(175px, 25vw, 275px);
    height: 48px;
    background-color: var(--color-main-purple);
    color: var(--color-white);
    font-size: var(--font-size-md);
    font-weight: bold;
    text-align: center;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-right: var(--margin-lg);
    cursor: pointer;
}

/* == Main Content == */

/* Header */

#kanban-hamburger {
    display: none;
}

#main-content {
    width: 100%;
}

#header {
    border-bottom: 1px solid var(--color-light-gray);
    padding: var(--padding-lg) var(--padding-md);
}

#header-title {
    font-size: var(--font-size-xl);
    font-weight: bold;
}

/* Kanban */

#kanban-board {
    background-color: var(--color-light-gray);
    height: 100%;
}

#kanban-sections {
    padding: var(--padding-md);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap-xl);
    margin-right: 8rem;
}

.section-header {
    display: flex;
    gap: var(--gap-sm);
}

.circle-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#todo-section .circle-icon {
    background-color: #49C4E5;
}
#doing-section .circle-icon {
    background-color: #8471F2;
}
#done-section .circle-icon {
    background-color: #67E2AE;
}

.items-list {
    margin-top: var(--margin-md);
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
}

.task-card {
    font-size: var(--font-size-md);
    font-weight: bold;
    padding: var(--padding-sm);
    background-color: var(--color-white);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px #364E7E1A;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media (min-width: 1025px) and (max-width: 1200px) {
    #kanban-sections {
        margin-right: 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #kanban-sections {
        grid-template-columns: repeat(2,1fr);
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    /* == Navigation Sidebar == */
    #nav-bar {
        display: none;
    }
    /* == Header == */
    #header {
        padding: var(--padding-sm);
    }
    #mobile-header-container {
        display: flex;
        align-items: center;
        gap: var(--gap-md);
    }
    #header-title {
        font-size: var(--font-size-lg);
    }
    #kanban-hamburger {
        display: block;
        width: 24px;
        height: auto;
        cursor: pointer;
    }
    /* == Main Content ==*/
    #kanban-sections {
        grid-template-columns: 1fr;
        margin-right: 0;
    }
    .task-card {
        max-width: 475px;
    }
}