/* Reset styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom properties */

:root {
    /* Fonts */
    --xl-font-size: 24px;
    --large-font-size: 18px;
    --medium-font-size: 15px;
    --small-font-size: 12px;
    /* Colors */
    --main-purple-color:#635FC7;
    --medium-gray-color:#828FA3;
    --white-color: #FFFFFF;
    --light-gray-color: #F4F7FD;
    --black-color: #000112;
    /* Margin */
    --big-margin: 2rem;
    --medium-margin: 1.5rem;
    --small-margin: 1rem;
    /* Padding */
    --big-padding: 2rem;
    --medium-padding: 1.5rem;
    --small-padding: 1.25rem;
    /* Gaps */
    --big-gap: 1.5rem;
    --medium-gap: 1.25rem;
    --small-gap: 0.75rem;
}

/* == Body == */

body {
    display: flex;
    font-family: "Plus Jakarta Sans",sans-serif;
    color: var(--black-color);
}

/* == Nav == */

#nav-bar {
    border-right: 1px solid var(--light-gray-color);
}

#kanban-logo {
    max-width: 150px;
    height: auto;
    margin:var(--big-margin);
}

#number-boards,
.column-title {
    font-size: var(--small-font-size);
    font-weight: bold;
    color: var(--medium-gray-color);
    letter-spacing: 2.4px;
}

#number-boards {
    margin: 0 var(--big-margin) var(--small-margin) var(--big-margin);
}

#launch-button {
    width: 275px;
    width: clamp(175px, 25vw, 275px);
    height: 48px;
    background-color: var(--main-purple-color);
    color: var(--white-color);
    font-size: var(--medium-font-size);
    font-weight: bold;
    text-align: center;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-right: var(--big-margin);
    cursor: pointer;
}

/* == Main Content == */

/* Header */

#kanban-hamburger {
    display: none;
}

#main-content {
    width: 100%;
}

#header {
    border-bottom: 1px solid var(--light-gray-color);
    padding: var(--big-padding) var(--medium-padding);
}

#header-title {
    font-size: var(--xl-font-size);
    font-weight: bold;
}

/* Kanban */

#kanban-board {
    background-color: var(--light-gray-color);
    height: 100%;
}

#kanban-sections {
    padding: var(--medium-padding);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--big-gap);
}

.section-header {
    display: flex;
    gap: var(--small-gap);
}

.circle-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#todo-section .circle-icon {
    background-color: #49C4E5;
}
#doing-section .circle-icon {
    background-color: #8471F2;
}
#done-section .circle-icon {
    background-color: #67E2AE;
}

.items-list {
    margin-top: var(--medium-margin);
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
}

.task-card {
    font-size: var(--medium-font-size);
    font-weight: bold;
    padding: var(--small-padding);
    background-color: var(--white-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px #364E7E1A;
}

/* MEDIA QUERIES */

@media (min-width: 769px) and (max-width: 1024px) {
    #kanban-sections {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px) {
    /* == Nav bar == */
    #nav-bar {
        display: none;
    }
    #launch-button {
        width: 275px;
    }
    /* == Header == */
    #header {
        padding: var(--small-padding);
    }
    #header div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    #header-title {
        font-size: var(--large-font-size);
    }
    #kanban-hamburger {
        display: block;
        width: 24px;
        height: auto;
    }
    /* == Main Content ==*/
    #kanban-sections {
        grid-template-columns: 1fr;
    }
    .task-card {
        max-width: 490px;
    }
}